{% extends 'base_pages.html' %}
{% load static %}

{% block title %} List of products {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Risultati della ricerca</h2>
        <h5>{{ products.count }} risultati</h5>

            <div id="results">
                {% include 'pages/list_products_partial.html' %}
            </div>

    </div>
    {% include 'footer.html' %}

{% endblock %}