{% extends 'base_pages.html' %}

{% block title %} Seller profile {% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="bg-light p-3 my-3 text-center">
                    <h2>{{ object.user.username }}</h2>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Info personali</h5> <br>
                        <p class="card-text"><strong>Email:</strong> {{ object.user.email }}</p>
                        <p class="card-text"><strong>Phone number:</strong> {{ object.phone }}</p>
                        <p class="card-text"><strong>P.IVA:</strong> {{ object.PIVA }}</p>
                        <p class="card-text"><strong>Iscritto in data:</strong> {{ object.user.date_joined }}</p>
                        <a href="{% url 'users:update_profile_seller' object.pk %}" class="btn btn-light">Modifica</a>
                    </div>
                </div>
                <div class="my-3 d-flex flex-row align-items-start">
                    <div class="d-flex flex-column">
                        <a href="{% url 'listings:list_products' %}" class="btn custom-button mb-2">Info sui prodotti</a>
                        <a href="{% url 'listings:create_product' %}" class="btn custom-button-reg mb-2">Aggiungi prodotto</a>
                    </div>
                    <div class="d-flex flex-column ml-2 mx-2">
                        <a href="{% url 'watchlist:list_favourites' %}" class="btn custom-button mb-2">Lista preferiti</a>
                        <a href="{% url 'reviews:list_seller_review' object.pk %}" class="btn custom-button-reg">Visualizza recensioni</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
{% endblock %}