{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/form-validation.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container mt-4 text-center">
        <a href="{% url 'pages:home_page' %}"><img src="{% static 'imgs/logo.png' %}" alt="Logo" width="150" height="30" class="d-inline-block align-top"></a>
        <br><br><br>
        <div class="radio-inputs">
          <label class="radio">
            <input type="radio" name="user-type" value="CLIENTE" checked>
            <span class="name">Cliente</span>
          </label>
          <label class="radio">
            <input type="radio" name="user-type" value="VENDITORE">
            <span class="name">Venditore</span>
          </label>
        </div>

        <!-- Campi per Cliente -->
        <div class="cliente-fields">
          <input type="text" placeholder="Nome" />
          <input type="text" placeholder="Cognome" />
        </div>

        <!-- Campi per Venditore -->
        <div class="venditore-fields" style="display: none;">
          <input type="text" placeholder="Partita IVA" />
          <input type="email" placeholder="Email Aziendale" />
        </div>

    </div>
    <script src="{% static 'js/form-validation.js' %}"></script>
{% endblock %}
