{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/sign.css' %}">
{% endblock %}

{% block title %} User Signup {% endblock %}

{% block content %}
    <div class="login-wrapper">
        Hai già un account? <a href="{% url 'users:login' %}">Accedi</a>
    </div>
    <div class="d-flex justify-content-center align-items-center py-2">
        <!-- Logo Section -->
        <div class="logo">
            <a href="{% url 'pages:home_page' %}">
                <img src="{% static 'imgs/logo.png' %}" alt="Logo" width="150" height="30">
            </a>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h3 class="text-center">Registrati come {{ user_type }}</h3>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                    {% if user_type == 'venditore' %}
                        <div class="form-group">
                            {{ form.PIVA.label_tag }}
                            {{ form.PIVA }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form.password1.label_tag }}
                        {{ form.password1 }}
                    </div>
                    <div class="form-group">
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                    </div>
                    <div class="form-group">
                        {{ form.phone.label_tag }}
                        {{ form.phone }}
                    </div>
                    <button type="submit" class="btn buttons btn-block">Registrati</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}