/* Make bigger the labels */
.rating-label {
    font-size: 1.5rem; /* Ingrandisce la scritta "Valutazione complessiva" */
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

/* Every star is an element <i>. This make bigger the stars and change the colour.
 Then change the cursor to denote that the stars are clickable */
.star-icons i {
    font-size: 2rem;
    color: #FFD700;
    cursor: pointer;
    margin-right: 5px;
}

/* When you pass the mouse over the stars, change the colour */
.star-icons i:hover {
    color: #FFC107;
}

.star{
    font-size: 2rem;
    color: #FFD700;
}

.mini-star{
    color: #FFD700;
}