/* Color personalization for button search */
/* #ef580f is the color of the I of the logo */
/* #052F4B is the color of the rest of the logo */
.custom-button{
    border-color:#ef580f;
    background-color: white;
    color: #ef580f;
}

.custom-button:hover{
    background-color: #ef580f;
    color: black;
}

/* Color personalization for button register */
.custom-button-reg{
    border-color: #052F4B;
    background-color: white;
    color: #052F4B;
}

.custom-button-reg:hover{
    background-color: #052F4B;
    color: white;
}


.border-margin{
    margin: 0 5%;
}

.button-sell{
    background-color: #052F4B;
    color: white;
    padding: 20px 40px;
    border-radius: 15px;
    font-weight: bold;
}

.button-sell:hover{
    background-color: #031e30;
    color: white;
}

.button-sell:active{
    transform: translateY(1px); /* Move button slightly down */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Reduce the shadow when pressed */
}
