{% extends 'base_pages.html' %}
{% load static %}

{% block title %}Crea una recensione{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/star.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="mt-4">Crea una recensione</h3>
        <div class="col-md-5 row mb-3">
            <div class="col-md-2">
                <div class="image-container" style="border: 1px solid #ddd;">
                    <img src="{{ product.image1.url }}" alt="{{ product.name }}" class="card-img-top product-image">
                </div>
            </div>
            <div class="col-md-9">
                <p>{{ product.title }}</p>
            </div>
        </div>

        <hr class="mb-3">

        <form method="POST">
            {% csrf_token %}
            <label for="rating" class="rating-label">Valutazione complessiva</label>
            <div id="star-rating" class="mb-3 star-icons">
                <i class="far fa-star" data-value="1"></i>
                <i class="far fa-star" data-value="2"></i>
                <i class="far fa-star" data-value="3"></i>
                <i class="far fa-star" data-value="4"></i>
                <i class="far fa-star" data-value="5"></i>
            </div>

            {{ form.rating }}

            <div class="mb-3">
                <p class="rating-label">Aggiungi un titolo</p>
                {{ form.title }}
            </div>
            <div class="mb-3">
                <p class="rating-label">Aggiungi una recensione scritta</p>
                {{ form.description }}
            </div>
            <button type="submit" class="btn btn-success btn-block">Invia</button>
            <a class="btn btn-secondary" href="{% url 'listings:detail_product' product.pk %}">Annulla</a>
        </form>


    </div>

    {% include 'footer.html' %}

    <script src="{% static 'js/star.js' %}"></script>


{% endblock %}