{% extends 'base_pages.html' %}

{% block title %} List seller review {% endblock %}

{% block content %}
    <div class="container">
        <div class="description w-100 d-flex justify-content-between align-items-center p-2">
            <h1 class="display-4">Recensioni di {{ seller.user.username }}</h1>
            {% if product %}
                <a href="{% url 'listings:detail_product' product %}" class="btn btn-outline-secondary">Torna indietro</a>
            {% endif %}
        </div>
        <hr>
        <div class="row">
            {% for review in seller_reviews.all %}
                <div class="col-md-12 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">{{ review.reg_user.user.username }}</h4>
                            <h5 class="card-subtitle">{{ review.title }}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ review.comment }}</p>
                        </div>
                    </div>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}