{% extends 'base.html' %}
{% load static %}


{% block title %}Checkout{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
{% endblock %}

{% block content %}
    {% include 'head.html' %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 my-2">
                <div class="d-flex justify-content-between align-items-center ">
                    <h2>Riepilogo dell'ordine</h2>
                    {% if product_id is not None %}
                        <a href="{% url 'listings:detail_product' product_id %}" class="btn btn-outline-secondary">Torna indietro</a>
                    {% else %}
                        <a href="{% url 'shopping:list_cart' %}" class="btn btn-outline-secondary">Torna indietro</a>
                    {% endif %}
                </div>
                <hr>
                <div class="card">
                    <div class="card-body">
                        {% for item in items %}
                            <div class="mb-3 my-2">
                                <div class="d-flex align-items-center mb-3 mx-2">
                                    <img src="{{ item.product.image1.url }}" alt="Product Image 1" class="img-thumbnail" style="width: 100px; height: 100px; margin-right: 10px;">
                                    <div>
                                        <h4>{{ item.product.title }}</h4>
                                        <p>Quantità: {{ item.quantity }}</p>
                                        <h5>EUR {{ item.total_price }}</h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="shipping-payment">
                    <form id="checkout-form" method="post">
                        {% csrf_token %}
                        <div class="card my-2">
                            <div class="shipping card-body">
                                <h4>Indirizzo di spedizione</h4>
                                <div class="mb-3">
                                    {{ shipping_form.country.label_tag }}
                                    {{ shipping_form.country }}
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        {{ shipping_form.name.label_tag }}
                                        {{ shipping_form.name }}
                                    </div>
                                    <div class="col">
                                        {{ shipping_form.surname.label_tag }}
                                        {{ shipping_form.surname }}
                                    </div>
                                </div>
                                <div class="mb-3">
                                    {{ shipping_form.shipping_address.label_tag }}
                                    {{ shipping_form.shipping_address }}
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        {{ shipping_form.city.label_tag }}
                                        {{ shipping_form.city }}
                                    </div>
                                    <div class="col">
                                        {{ shipping_form.zip_code.label_tag }}
                                        {{ shipping_form.zip_code }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card my-2">
                            <div class="payment card-body">
                                <h4>Metodo di pagamento</h4>
                                <div class="mb-3">
                                    {{ payment_form.card_number.label_tag }}
                                    {{ payment_form.card_number }}
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        {{ payment_form.expiration_date.label_tag }}
                                        {{ payment_form.expiration_date }}
                                    </div>
                                    <div class="col">
                                        {{ payment_form.cvv.label_tag }}
                                        {{ payment_form.cvv }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            <hr>


            </div>

            <div class="col-md-4 d-flex justify-content-center align-items-start mt-5">
                <div class="card w-100 p-3" style="background-color: #f8f9fa;">
                    <h5 class="mb-3">Totale: <br> EUR
                        <span id="total-price">{{ total_price }}</span></h5>
                    <button class="btn button-cart w-100" id="submit-button">
                        Conferma e paga
                    </button>
                </div>
            </div>

        </div>
    </div>

    <script src="{% static 'js/checkout.js' %}"></script>


    {% include 'footer.html' %}
{% endblock %}