{% extends 'base_pages.html' %}
{% load static %}

{% block title %}List of orders{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/image.css' %}">
{% endblock %}

{% block content %}
    <div class="container" style="max-width: 800px;">
        <div class="description w-100 d-flex justify-content-between align-items-center p-2">
            <h3>I miei ordini</h3>
        </div>
        <hr>
        <div class="d-flex flex-row align-items-center mb-3">
            <p class="mx-3 mb-0">{{ object_list.count }} ordini effettuati</p>
            <form method="get" id="filter-form" class="d-flex align-items-center">
                <select
                        name="filter"
                        id="filter-show-orders"
                        class="form-select form-select-sm"
                        onchange="document.getElementById('filter-form').submit();">
                    <option value="all" {% if selected_filter == 'all' %}selected{% endif %}>da sempre</option>
                    <option value="last_30_days" {% if selected_filter == 'last_30_days' %}selected{% endif %}>negli ultimi 30 giorni</option>
                    <option value="last_3_months" {% if selected_filter == 'last_3_months' %}selected{% endif %}>negli ultimi 3 mesi</option>
                    <option value="last_year" {% if selected_filter == 'last_year' %}selected{% endif %}>nell'ultimo anno</option>
                </select>
            </form>
        </div>


        <div class="row">
            {% for order in object_list %}
                <div class="col-md-12 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex flex-row">
                                <div class="d-flex flex-column me-5">
                                    <small>Ordine effettuato il:</small>
                                    <small>{{ order.date }}</small>
                                </div>
                                <div class="d-flex flex-column me-5">
                                    <small>Totale:</small>
                                    <small>EUR {{ order.total_price }}</small>
                                </div>
                                <div class="d-flex flex-column">
                                    <small>Stato:</small>
                                    <small>{{ order.status }}</small>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            {% for item in order.items.all %}
                                <div class="col-md-3 d-flex align-items-center">
                                    <div class="image-container col-md-12">
                                        <a href="{% url 'listings:detail_product' item.product.pk %}" target="_blank">
                                            <img src="{{ item.product.image1.url }}" alt="Product Image 1" style="width: 100px; height: 100px;">
                                        </a>
                                    </div>
                                    <div class="ms-3 col-md-12">
                                        <p class="product-title">
                                            <a href="{% url 'listings:detail_product' item.product.pk %}" target="_blank">{{ item.product.title }}</a>
                                        </p>
                                        <p class="text-muted mb-0">Quantità: {{ item.quantity }}</p>
                                        <p class="text-muted">Stato: {{ item.status }}</p>

                                    </div>
                                </div>

                            {% endfor %}
                        </div>

                    </div>
                </div>
            {% endfor %}


        </div>

        {% if object_list.count != 0 %}
            {% include 'nav_pages.html' %}
        {% endif %}

    </div>

    {% include 'footer.html' %}
{% endblock %}