{% extends 'base_pages.html' %}
{% load static %}

{% block title %} Product detail {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

{% block content %}
    <div class="container product-detail">
        <div class="row">
            <div class="col-md-1">
                <div class="row">
                    <div class="col-9 mb-2">
                        <img class="img-thumbnail" src="{{ product.image1.url }}" alt="{{ product.title }}" onclick="switchImage('{{ product.image1.url }}')">
                    </div>
                    {% if product.image2 %}
                    <div class="col-9 mb-2">
                        <img class="img-thumbnail" src="{{ product.image2.url }}" alt="{{ product.title }}" onclick="switchImage('{{ product.image2.url }}')">
                    </div>
                    {% endif %}
                    {% if product.image3 %}
                    <div class="col-9 mb-2">
                        <img class="img-thumbnail" src="{{ product.image3.url }}" alt="{{ product.title }}" onclick="switchImage('{{ product.image3.url }}')">
                    </div>
                    {% endif %}
                    {% if product.image4 %}
                    <div class="col-9 mb-2">
                        <img class="img-thumbnail" src="{{ product.image4.url }}" alt="{{ product.title }}" onclick="switchImage('{{ product.image4.url }}')">
                    </div>
                    {% endif %}
                    {% if product.image5 %}
                    <div class="col-9 mb-2">
                        <img class="img-thumbnail" src="{{ product.image5.url }}" alt="{{ product.title }}" onclick="switchImage('{{ product.image5.url }}')">
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 me-4">
                <img id="main-image" src="{{ product.image1.url }}" alt="{{ product.title }}" class="img-fluid mb-3">
            </div>

            <div class="col-md-4 d-flex flex-column align-items-start ms-4">
                <h1 class="mb-2">{{ product.title }}</h1>
                <hr class="mb-3" style="width: 100%">
                <h3 class="price mt-3">EUR {{ product.price }}</h3>
                <div class="d-flex align-items-center mt-3">
                    <label for="quantity" class="form-label mb-0 me-2">Quantità:</label>
                    <input id="quantity" type="number" class="form-control" min="1" value="1" style="width: 70px;">
                    <small class="text-muted ms-2">Disponibile: {{ product.quantity }}</small>
                </div>

                <div class="d-flex flex-column w-100 mt-3">
                    <button class="btn button-cart mb-2 w-100">Compra subito</button>
                    <button class="btn button-prefer mb-2 w-100">
                        <i class="fas fa-shopping-cart"></i> Aggiungi al carrello
                    </button>
                    <button class="btn button-prefer w-100" id="heart-button" onclick="toggleFavorite()">
                        <i class="far fa-heart" id="heart-icon"></i> Aggiungi ai preferiti
                    </button>
                </div>

            </div>

            <div class="description my-5">
                <h3>Descrizione</h3>
                <hr class="mb-3" style="width: 100%">
                <p>{{ product.description }}</p>
            </div>
        </div>
    </div>

    <script>
        function switchImage(url) {
            document.getElementById('main-image').src = url;
        }

        function toggleFavorite() {
            const heartIcon = document.getElementById('heart-icon');
            if (heartIcon.classList.contains("far")) {
                heartIcon.classList.remove("far");
                heartIcon.classList.add("fas"); // Filled heart
            } else {
                heartIcon.classList.remove("fas");
                heartIcon.classList.add("far"); // Outlined heart
            }
            const isFavorite = heartIcon.classList.toggle('favorite');
            localStorage.setItem('isFavorite', isFavorite);
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            const heartIcon = document.getElementById('heart-icon');
            const isFavorite = localStorage.getItem('isFavorite') === 'true';
            if (isFavorite) {
                heartIcon.classList.add('favorite');
            }
        });
    </script>
{% endblock %}