{% extends 'base_pages.html' %}
{% load static %}

{% block title %} Product detail {% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/image.css' %}">
{% endblock %}

{% block content %}
    <div class="container product-detail">
        <div class="row">
            <div class="col-md-1">
                <div class="row">
                    <div class="col-9 mb-2">
                        <img class="img-thumbnail img-size" src="{{ product.image1.url }}" alt="{{ product.title }}" onclick="switchImage('{{ product.image1.url }}')">
                    </div>
                    {% if product.image2 %}
                    <div class="col-9 mb-2">
                        <img class="img-thumbnail img-size" src="{{ product.image2.url }}" alt="{{ product.title }}" onclick="switchImage('{{ product.image2.url }}')">
                    </div>
                    {% endif %}
                    {% if product.image3 %}
                    <div class="col-9 mb-2">
                        <img class="img-thumbnail img-size" src="{{ product.image3.url }}" alt="{{ product.title }}" onclick="switchImage('{{ product.image3.url }}')">
                    </div>
                    {% endif %}
                    {% if product.image4 %}
                    <div class="col-9 mb-2">
                        <img class="img-thumbnail img-size" src="{{ product.image4.url }}" alt="{{ product.title }}" onclick="switchImage('{{ product.image4.url }}')">
                    </div>
                    {% endif %}
                    {% if product.image5 %}
                    <div class="col-9 mb-2">
                        <img class="img-thumbnail img-size" src="{{ product.image5.url }}" alt="{{ product.title }}" onclick="switchImage('{{ product.image5.url }}')">
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 me-4">
                <img id="main-image" src="{{ product.image1.url }}" alt="{{ product.title }}" class="detail-img-fluid detail-img-container mb-3">
            </div>

            <div class="col-md-4 d-flex flex-column align-items-start ms-4">
                <h1 class="mb-2">{{ product.title }}</h1>

                <div class="d-flex align-items-center"> <!-- Flexbox per allineamento -->
                    <!-- Stelle -->
                    <div class="d-flex align-items-center me-2"> <!-- Flexbox per le stelle -->
                        {% with product.average_rating as avg_rating %}
                            {% for i in "12345" %}
                                {% if avg_rating >= forloop.counter %}
                                    <i class="fas fa-star mini-star"></i> <!-- full star -->
                                {% elif avg_rating < forloop.counter and avg_rating > forloop.counter|add:"-1" %}
                                    <i class="fas fa-star-half-alt mini-star"></i> <!-- half star -->
                                {% else %}
                                    <i class="far fa-star mini-star"></i> <!-- empty star -->
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                    </div>
                    <p class="mb-0 h5">{{ product.average_rating }}</p>
                </div>

                <hr class="mb-3" style="width: 100%">
                <h3 class="price mt-3">EUR {{ product.price }}</h3>
                {% if product.seller.user != user %}
                    <div class="d-flex align-items-center mt-3">
                        <label for="quantity" class="form-label mb-0 me-2">Quantità:</label>
                        <input id="quantity" type="number" class="form-control" min="1" max="{{ product.quantity }}" value="1" style="width: 70px;">
                        <p class="text-muted ms-2">Disponibile: {{ product.quantity }}</p>
                    </div>
                    <small id="quantity-error" class="text-danger d-none">La quantità non può superare il massimo disponibile.</small>

                    <div class="d-flex flex-column w-100 mt-3">

                            <button id="buy-now-btn" class="btn button-cart mb-2 w-100"
                                    data-checkout-url="{% url 'shopping:checkout' %}" data-product-id="{{ product.pk }}" data-token="{{ request.session.checkout_token }}">
                                Compra subito
                            </button>

                            <button id="cart-btn" class="btn button-prefer mb-2 w-100" onclick="addToCart({{ product.pk }})">
                                <i class="fas fa-shopping-cart"></i> Aggiungi al carrello
                            </button>


                        {% if user.is_authenticated %}

                            <button class="btn button-prefer w-100" id="heart-button" onclick="toggleFavorite({{ product.pk }})">
                                <i class="{% if is_favorite %}fas{% else %}far{% endif %} fa-heart" id="heart-icon"></i> Aggiungi ai preferiti
                            </button>

                        {% else %}

                            <a href="{% url 'users:login' %}" class="btn button-prefer w-100" id="heart-button" style="text-decoration: none; color: inherit;">
                                <i class="far fa-heart" id="heart-icon"></i> Aggiungi ai preferiti
                            </a>

                        {% endif %}

                    </div>
                {% endif %}

            </div>

            <div class="description w-100 d-flex justify-content-between align-items-center p-2">
                    <h3>Descrizione</h3>
                <!-- If user is authenticated, the user is a registered user and he didn't write a report to that seller, he sees the link -->
                {% if user.is_authenticated and user.is_registered_user and report == None%}
                    <a href="{% url 'report:create_report' product.pk %}" class="text-muted">Segnala venditore</a>
                {% endif %}
            </div>
            <hr class="mb-3" style="width: 100%">
            <p>{{ product.description }}</p>

        </div>

        <div class="row">
            <div class="w-100 d-flex justify-content-between align-items-center p-2">
                <h3>Valutazioni e recensioni del prodotto</h3>
                <div id="reviews-buttons" class="tab-buttons active">
                    {% if user.is_authenticated %}
                        {% if user.is_registered_user %}
                            {% if user_review == None %}
                                <a href="{% url 'reviews:create_review' product.pk %}" class="btn btn-outline-secondary">Scrivi una recensione</a>
                            {% else %}
                                <div class="d-flex flex-column">
                                    <a href="{% url 'reviews:update_review' user_review %}" class="btn btn-outline-secondary mb-1">Modifica la tua recensione</a>
                                    <a href="{% url 'reviews:delete_review' user_review %}" class="btn btn-outline-danger">Elimina la tua recensione</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <a href="{% url 'users:login' %}" class="btn btn-outline-secondary">Scrivi una recensione</a>
                    {% endif %}
                </div>

                <div id="questions-buttons" class="tab-buttons d-none">
                    {% if user.is_authenticated %}
                        {% if user.is_registered_user %}
                            <a href="{% url 'questions:create_question' product.pk %}" class="btn btn-outline-secondary">Fai una domanda</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'users:login' %}" class="btn btn-outline-secondary">Fai una domanda</a>
                    {% endif %}
                </div>
            </div>

            <div class="d-flex align-items-center">
            <h1 class="me-2">{{ product.average_rating|floatformat:1 }}</h1>

                <div class="rating">
                    {% with product.average_rating as avg_rating %}
                        {% for i in "12345" %}
                            {% if avg_rating >= forloop.counter %}
                                <i class="fas fa-star star"></i> <!-- full star -->
                            {% elif avg_rating < forloop.counter and avg_rating > forloop.counter|add:"-1" %}
                                <i class="fas fa-star-half-alt star"></i> <!-- half star -->
                            {% else %}
                                <i class="far fa-star star"></i> <!-- empty star -->
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                </div>
            </div>

            <div class="w-100 d-flex justify-content-between align-items-center p-2">
                <div>
                    <button id="btn-reviews" class="btn btn-outline-secondary active" onclick="showSection('reviews')">Recensioni</button>
                    <button id="btn-questions" class="btn btn-outline-secondary" onclick="showSection('questions')">Domande</button>
                </div>
            </div>




            <div class="tab-section" id="reviews-section">
                <p class="text-muted">{{ product.reviews.count }} Valutazioni del prodotto</p>
                {% if product.reviews.count == 0 and user.is_authenticated and user.is_registered_user %}
                    <a href="{% url 'reviews:create_review' product.pk %}" class="text-muted h4">Scrivi una recensione per primo</a>
                {% else %}
                    {% for r in product.reviews.all %}
                        <div class="review mb-3">
                            <p class="fw-bold">{{ r.reg_user.user.username }}</p>
                            <div class="d-flex align-items-center">
                                <!-- Stars -->
                                <div class="d-flex align-items-center me-2"> <!-- To see stars next -->
                                    {% for i in "12345" %}
                                        {% if r.rating >= forloop.counter %}
                                            <i class="fas fa-star"></i> <!-- full star -->
                                        {% else %}
                                            <i class="far fa-star"></i> <!-- empty star -->
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <!-- Title of review -->
                                <p class="mb-0 fw-bold">{{ r.title }}</p>
                            </div>
                            <!-- Comment of review -->
                            <p class="my-3">{{ r.comment }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="tab-section d-none" id="questions-section">
                <p class="text-muted">{{ product.questions.count }} Domande</p>
                {% for q in product.questions.all %}
                    <div class="question mb-3">
                        <p class="fw-bold">{{ q.reg_user.user.username }}</p>
                        <p class="my-3">Domanda: {{ q.text }}</p>

                        {% if q.is_answered %}
                            <p>Risposta: {{ q.get_answer.text }}</p>
                        {% else %}
                            {% if user.is_authenticated %}
                                <div id="reply-section-{{ q.id }}">
                                    <button
                                            class="btn btn-outline-secondary btn-sm reply-button"
                                            onclick="toggleReplyForm({{ q.id }})">
                                        Rispondi
                                    </button>
                                </div>
                                <!-- Modulo per rispondere -->
                                <div id="reply-form-{{ q.id }}" class="reply-form d-none">
                                    <form method="POST" action="{% url 'questions:add_answer' q.id %}">
                                        {% csrf_token %}
                                        <textarea name="text" rows="2" class="form-control mb-2" placeholder="Scrivi una risposta..." required></textarea>
                                        <button type="submit" class="btn btn-primary btn-sm">Ok</button>
                                        <button type="button" class="btn btn-secondary btn-sm" onclick="cancelReply({{ q.id }})">Annulla</button>
                                    </form>
                                </div>
                            {% endif %}
                        {% endif %}


                    </div>
                {% endfor %}
            </div>


        </div>

        <hr class="mb-3" style="width: 100%">

        <div class="bg-light p-3">
            <h3>Informazioni sul venditore</h3>
            <div class="d-flex align-items-center">
                <div>
                    <h5>Username: {{ product.seller.user.username }}</h5>
                    <p>Iscritto in Data: {{ product.seller.user.date_joined}}</p>
                    {% if user.is_authenticated %}
                        {% if user.is_registered_user %}
                            {% if seller_review %}
                                <a href="{% url 'reviews:update_seller_review' product.seller.pk %}?product_pk={{ product.pk }}" class="btn btn-outline-primary">Modifica recensione</a>
                                <a href="{% url 'reviews:delete_seller_review' product.seller.pk %}?product_pk={{ product.pk }}" class="btn btn-outline-danger">Elimina recensione</a>
                            {% else %}
                                <a href="{% url 'reviews:create_seller_review' product.seller.pk %}?product_pk={{ product.pk }}" class="btn btn-outline-primary">Recensione al venditore</a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <a href="{% url 'users:login' %}" class="btn btn-outline-primary">Recensione al venditore</a>
                    {% endif %}
                    <a href="{% url 'reviews:list_seller_review' product.seller.pk %}?product_pk={{ product.pk }}" class="btn btn-outline-secondary">Visualizza recensioni</a>
                </div>
            </div>
        </div>




        <hr class="mb-3" style="width: 100%">
        <h3>Prodotti consigliati</h3>
        <div class="row">
            {% for related_product in related_products %}
                <div class="col-md-2 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'listings:detail_product' related_product.pk %}">
                            <img src="{{ related_product.image1.url }}" class="card-img-top related-img" alt="{{ related_product.title }}">
                        </a>
                        <div class="card-body text-center">
                            <h6 class="card-title">{{ related_product.title }}</h6>
                            <p class="card-text">EUR {{ related_product.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{% static 'js/favourite.js' %}"></script>
    <script src="{% static 'js/shopping.js' %}"></script>
    <script src="{% static 'js/check_quantity.js' %}"></script>
    <script src="{% static 'js/buy_now_btn.js' %}"></script>
    <script src="{% static 'js/question.js' %}"></script>

    {% include 'footer.html' %}
{% endblock %}