{% extends 'base_pages.html' %}
{% load static %}

{% block title %} List products {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4">Prodotti</h1>
                <label for="searchInput" class="form-label">Cerca tra i tuoi prodotti</label>
                <input type="text" id="searchInput" class="form-control mb-4" placeholder="Cerca per titolo...">
                <div class="row" id="productList">
                    {% for product in products.all %}
                        <div class="col-md-4 mb-4 product-card">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">{{ product.title }}</h5>
                                </div>
                                <div id="carousel{{ forloop.counter }}" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="{{ product.image1.url }}" class="d-block w-100 img-size" alt="immagine 1">
                                        </div>
                                        {% if product.image2 %}
                                            <div class="carousel-item">
                                                <img src="{{ product.image2.url }}" class="d-block w-100 img-size" alt="immagine 2">
                                            </div>
                                        {% endif %}
                                        {% if product.image3 %}
                                            <div class="carousel-item">
                                                <img src="{{ product.image3.url }}" class="d-block w-100 img-size" alt="immagine 3">
                                            </div>
                                        {% endif %}
                                        {% if product.image4 %}
                                            <div class="carousel-item">
                                                <img src="{{ product.image4.url }}" class="d-block w-100 img-size" alt="immagine 4">
                                            </div>
                                        {% endif %}
                                        {% if product.image5 %}
                                            <div class="carousel-item">
                                                <img src="{{ product.image5.url }}" class="d-block w-100 img-size" alt="immagine 5">
                                            </div>
                                        {% endif %}
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ forloop.counter }}" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ forloop.counter }}" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Categorie:</p>
                                    {% for category in product.categories.all %}
                                        <span class="badge bg-secondary">{{ category }}</span>
                                    {% endfor %}
                                    <p class="card-text">Prezzo: EUR {{ product.price }}</p>
                                    <div class="d-flex">
                                        <p class="card-text">Quantity: {{ product.quantity }}</p>
                                        <p class="text-muted ms-auto">Venduti: {{ product.sold }}</p>
                                    </div>

                                    <a href="{% url 'listings:update_product' product.pk %}" class="btn btn-primary">Modifica</a>
                                    <a href="{% url 'listings:delete_product' product.pk %}" class="btn btn-danger">Elimina</a>
                                    <a href="{% url 'listings:detail_product' product.pk %}" class="btn btn-success">Vedi sullo store</a>
                                    <a href="{% url 'questions:list_questions' product.pk %}" class="btn btn-dark">Q&A</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

    <script src="{% static 'js/list_products.js' %}"></script>
{% endblock %}