{% extends 'base.html' %}

{% block title %} Update product {% endblock %}

{% block content %}
    {% include 'head.html' %}

    <div class="card mx-auto border-0" style="width: 50rem;">
        <div class="card-body">
            <h3 class="card-title">Modifica prodotto</h3>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success btn-block">Modifica</button>
                <a class="btn btn-secondary" href="{% url 'users:profile_seller' seller.pk %}">Annulla</a>
            </form>
        </div>
    </div>

    {% include 'footer.html' %}
{% endblock %}